.home-dashboard .container-statistic .modal__statistic h2, main .container-modal .modal h2, main .home-login .title-login {
  font-size: 2.8rem;
  color: #131212;
}

.container-modal__revenue .modal-revenue form, main .container-modal .modal form, main .home-login .form-login {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-modal__revenue .modal-revenue form input,
.container-modal__revenue .modal-revenue form select, main .container-modal .modal form input, main .home-login .form-login input {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #666666;
  padding: 0px 10px;
  font-size: 1.6rem;
  background-color: transparent;
}

.container-modal__revenue .modal-revenue form label, main .container-modal .modal form label, main .home-login .form-login .sub-title__form {
  color: #131212;
  font-size: 1.4rem;
  align-self: flex-start;
  font-weight: 500;
}

.container-modal__revenue .modal-revenue form button, main .container-modal .modal form button, main .home-login .form-login button {
  width: 240px;
  height: 50px;
  border: none;
  background-color: #fa4a0c;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #131212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body.body__dark-model {
  background-color: #292b2d;
}
body.body__dark-model .title-login {
  color: #fafafa;
}
body.body__dark-model .form-login input {
  color: #fafafa;
}
body.body__dark-model .form-login .sub-title__form {
  color: #fafafa;
}
body.body__dark-model .home-login button {
  color: #fafafa;
}
body.body__dark-model .container-modal {
  background-color: rgba(0, 0, 0, 0.5);
}
body.body__dark-model .container-modal .modal {
  background-color: #292b2d;
}
body.body__dark-model .container-modal .modal h2 {
  color: #fafafa;
}
body.body__dark-model .container-modal .modal form label,
body.body__dark-model .container-modal .modal form input {
  color: #fafafa;
}
body.body__dark-model .container-modal .modal-close,
body.body__dark-model .container-modal .btn__sign-up {
  color: #fafafa;
}
body.body__dark-model .home-dashboard {
  background-color: #292b2d;
}
body.body__dark-model .home-dashboard .dashboard__header {
  color: #fa4a0c;
}
body.body__dark-model .home-dashboard select {
  background-color: #fee9b0;
}
body.body__dark-model .home-dashboard .container-revenue .item-revenue .card-revenue h3 {
  color: #fafafa;
}
body.body__dark-model .container-modal__revenue {
  background-color: rgba(0, 0, 0, 0.8);
}
body.body__dark-model .container-modal__revenue .modal-revenue {
  background-color: #292b2d;
}
body.body__dark-model .container-modal__revenue .modal-revenue .btn__close-mdal--revenue,
body.body__dark-model .container-modal__revenue .modal-revenue label,
body.body__dark-model .container-modal__revenue .modal-revenue button {
  color: #fafafa;
}
body.body__dark-model .container-modal__revenue h2 {
  color: #eea907;
}

main {
  width: 100vw;
  height: 100vh;
}
main .btn__mode-dak {
  height: 30px;
  background-color: #343d5b;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  margin: 20px;
}
main .btn__mode-dak::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fafafa;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  transition: 1s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
main .btn__mode-dak.active__dark-odel {
  background-color: orange;
  color: #131212;
}
main .btn__mode-dak.active__dark-odel::after {
  right: 0;
  left: unset;
}
main .btn__mode-dak span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background-color: none;
  color: #fafafa;
}
main .wrap__home-login {
  display: none;
}
main .home-login {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .home-login .nav-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  transition: 1s ease all;
}
main .home-login .btn__sign-up {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #005cee;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fafafa;
  border-radius: 30px;
  cursor: pointer;
  align-self: flex-end;
  margin: 20px;
}
main .home-login .logo {
  width: 278px;
  height: 175px;
}
main .home-login .form-login .sub-title__form {
  margin-top: 40px;
}
main .home-login .form-login button {
  margin-top: 20px;
  cursor: pointer;
}
main .container-modal.active {
  visibility: hidden;
}
main .container-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(215, 215, 215, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container-modal .modal.modal-active {
  transform: translateY(-600px);
}
main .container-modal .modal {
  position: relative;
  width: 80%;
  height: 95%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
main .container-modal .modal .modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #005cee;
  font-weight: 700;
  color: #fafafa;
  cursor: pointer;
}
main .container-modal .modal form label {
  margin-top: 20px;
}
main .container-modal .modal form button {
  margin-top: calc(40px - 10px);
}

.wrap__dashboard {
  display: none;
}

.home-dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-dashboard .dashboard__header {
  width: 90%;
  height: 60px;
  margin: 70px 0 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 6px 0px #b7b3b3;
  border-radius: 20px;
}
.home-dashboard .dashboard__header img {
  width: 45px;
  height: 45px;
}
.home-dashboard .wrap__card-balance {
  background-color: #fafafa;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.home-dashboard .wrap__card-balance .card-balance {
  background-image: url("../img/card-statistical.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 280px;
  height: 60px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-dashboard .wrap__card-balance .card-balance h3 {
  font-size: 2.4rem;
  color: #fa4a0c;
}
.home-dashboard .wrap__card-balance .card-balance h4 {
  margin-top: 5px;
  font-size: 1.8rem;
  color: #005cee;
}
.home-dashboard .container-revenue {
  width: 80%;
}
.home-dashboard .container-revenue h2 {
  margin-top: 20px;
  color: #fa4a0c;
  font-size: 2.2rem;
}
.home-dashboard .container-revenue .item-revenue {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  border-radius: 30px;
  margin-bottom: calc(40px * 2);
}
.home-dashboard .container-revenue .item-revenue .card-revenue {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0px 1px 6px 0px #b7b3b3;
}
.home-dashboard .container-revenue .item-revenue .card-revenue h3 {
  font-size: 1.4rem;
  color: #131212;
}
.home-dashboard .container-revenue .item-revenue .card-revenue h3 .Ingreso {
  color: #005cee;
}
.home-dashboard .container-revenue .item-revenue .card-revenue h3 .Gasto {
  color: #fa4a0c;
}
.home-dashboard .nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 1px 6px 0px #b7b3b3;
}
.home-dashboard .nav .icon-home {
  font-size: 3rem;
  color: #fa4a0c;
  margin-right: 30px;
}
.home-dashboard .nav .icon-chart {
  font-size: 3rem;
  color: #fa4a0c;
  margin-left: cacl(20px10px);
}
.home-dashboard .nav button {
  border: none;
  background-color: #fa4a0c;
  color: #fafafa;
  font-weight: 700;
  font-size: 5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 5px;
}
.home-dashboard .container-statistic {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(215, 215, 215, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-600px);
  visibility: hidden;
}
.home-dashboard .container-statistic .modal__statistic {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fafafa;
  border-radius: 20px;
}
.home-dashboard .container-statistic .modal__statistic #chart {
  width: 280px !important;
  height: 280px !important;
}
.home-dashboard .container-statistic .modal__statistic .btn-close__modal-statistic {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  background-color: #fa4a0c;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}
.home-dashboard .container-statistic .modal__statistic h2 {
  color: #fa4a0c;
  margin-top: calc(40px + 10px);
}
.home-dashboard .container-statistic .modal__statistic select {
  border: none;
  background-color: transparent;
  margin: 20px;
  color: #005cee;
  font-size: 2rem;
  font-weight: 500;
}
.home-dashboard .container-statistic.container-statistic--active {
  transform: translateY(0);
  visibility: visible;
}

.container-modal__revenue.revenue-active {
  transform: translateY(0);
  visibility: visible;
}

.container-modal__revenue {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(215, 215, 215, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-600px);
  visibility: hidden;
}
.container-modal__revenue .modal-revenue {
  width: 85%;
  height: 95%;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container-modal__revenue .modal-revenue .btn__close-mdal--revenue {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  border-radius: 50%;
  background-color: #fa4a0c;
  width: 30px;
  height: 30px;
  font-weight: 700;
  font-size: 2rem;
  color: #131212;
}
.container-modal__revenue .modal-revenue h2 {
  margin-top: calc(40px + 5px);
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 700;
  color: #005cee;
}
.container-modal__revenue .modal-revenue form label {
  font-size: 1.8rem;
  margin-top: 10px;
}
.container-modal__revenue .modal-revenue form input,
.container-modal__revenue .modal-revenue form select {
  margin-top: 10px;
  font-size: 1.8rem;
  opacity: 0.8;
}
.container-modal__revenue .modal-revenue form button {
  margin-top: calc(40px - 15px);
}

/*# sourceMappingURL=styles.css.map */
