$color-primary: #fa4a0c;
$color-secundary: #005cee;
$color-light: #fafafa;
$color-black: rgb(19, 18, 18);
$color-border: #666666;
$color-dark-mode: #292b2d;
$margin-high: 40px;
$margin-medium: 20px;
$margin-low: 10px;
