@import "./_variables.scss";
@import "./_placeholder.scss";
@import "./mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  @include tabletMediaLogin();
  @include desktopMediaLogin();
  // **************** Styles dark mode *******************

  &.body__dark-model {
    background-color: $color-dark-mode;

    & .title-login {
      color: $color-light;
    }

    & .form-login input {
      color: $color-light;
    }

    & .form-login .sub-title__form {
      color: $color-light;
    }

    & .home-login button {
      color: $color-light;
    }

    & .container-modal {
      background-color: rgba(0, 0, 0, 0.5);

      & .modal {
        background-color: $color-dark-mode;

        & h2 {
          color: $color-light;
        }

        & form {
          & label,
          input {
            color: $color-light;
          }
        }
      }

      .modal-close,
      .btn__sign-up {
        color: $color-light;
      }
    }

    & .home-dashboard {
      background-color: $color-dark-mode;

      & .dashboard__header {
        color: $color-primary;
      }

      & select {
        background-color: #fee9b0;
      }

      & .container-revenue {
        & .item-revenue {
          & .card-revenue h3 {
            color: $color-light;
          }
        }
      }
    }

    & .container-modal__revenue {
      background-color: rgba(0, 0, 0, 0.8);

      & .modal-revenue {
        background-color: $color-dark-mode;

        & .btn__close-mdal--revenue,
        label,
        button {
          color: $color-light;
        }
      }
      & h2 {
        color: $color-aux;
      }
    }
  }
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  & .btn__mode-dak {
    height: 30px;
    background-color: #343d5b;
    border-radius: 100px;
    border: none;
    // position: relative;
    cursor: pointer;
    display: flex;
    position: absolute;
    margin: $margin-medium;

    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: $color-light;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 50%;
      transition: 1s ease all;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    &.active__dark-odel {
      background-color: orange;
      color: $color-black;
      &::after {
        right: 0;
        left: unset;
      }
    }

    & span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      background-color: none;
      color: $color-light;
    }
  }

  & .wrap__home-login {
    display: none;
  }

  & .home-login {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .nav-login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      height: 50px;
      transition: 1s ease all;
    }

    & .btn__sign-up {
      width: 100px;
      height: 30px;
      border: none;
      background-color: $color-secundary;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-light;
      border-radius: 30px;
      cursor: pointer;
      align-self: flex-end;
      margin: $margin-medium;
    }
    & .logo {
      width: 278px;
      height: 175px;
    }

    & .title-login {
      @extend %title-login;
    }

    & .form-login {
      @extend %form-login;

      & input {
        @extend %inputs;
      }

      & .sub-title__form {
        @extend %sub-title__form;
        margin-top: $margin-high;
      }

      & button {
        @extend %btn-login;
        margin-top: $margin-medium;
        cursor: pointer;
      }
    }
  }
  & .container-modal.active {
    visibility: hidden;
  }

  & .container-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(215, 215, 215, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & .modal.modal-active {
      transform: translateY(-600px);
    }

    & .modal {
      position: relative;
      width: 80%;
      height: 95%;
      background-color: $color-light;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;

      & .modal-close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: $color-secundary;
        font-weight: 700;
        color: $color-light;
        cursor: pointer;
      }

      & h2 {
        @extend %title-login;
      }

      & form {
        @extend %form-login;

        & input {
          @extend %inputs;
        }

        & label {
          @extend %sub-title__form;
          margin-top: $margin-medium;
        }

        & button {
          @extend %btn-login;
          margin-top: calc(#{$margin-high} - 10px);
        }
      }
    }
  }
}

// ******************** Style Dashboard ****************

.wrap__dashboard {
  display: none;
}
.home-dashboard {
  width: 100vw;

  & .logout {
    position: absolute;
    top: 20px;
    right: 40px;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: $color-black;
    font-weight: 700;
    cursor: pointer;

    & i {
      color: $color-primary;
      margin-left: $margin-low;
      font-size: 2.4rem;
    }
  }

  & .dashboard__header {
    width: 90%;
    height: 60px;
    margin: 70px auto 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 6px 0px #b7b3b3;
    border-radius: 20px;

    & img {
      width: 45px;
      height: 45px;
    }
  }

  & .wrap__card-balance {
    background-color: $color-light;
    width: 280px;
    height: 60px;
    border-radius: 20px;
    margin: 0 auto $margin-medium auto;

    & .card-balance {
      background-image: url("card-statistical.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 280px;
      height: 60px;
      border-radius: 20px;
      margin-bottom: $margin-medium;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h3 {
        font-size: 2.4rem;
        color: $color-primary;
      }

      & h4 {
        margin-top: 5px;
        font-size: 1.8rem;
        color: $color-secundary;
      }
    }
  }

  & .container-revenue {
    width: 80%;
    margin: 0 auto;

    & h2 {
      margin-top: $margin-medium;
      color: $color-primary;
      font-size: 2.2rem;
      text-align: center;
    }

    & .container__search {
      width: 230px;
      height: 30px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid $color-dark-mode;
      border-radius: 20px;
      box-shadow: 0px 1px 6px 0px #b7b3b3;

      & input {
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 1.6rem;
      }

      & i {
        color: $color-primary;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }

    & .item-revenue {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: $margin-medium;
      border-radius: 30px;
      margin-bottom: calc(#{$margin-high});

      & .card-revenue {
        position: relative;
        margin-top: $margin-medium;
        margin-bottom: $margin-low;
        padding: 20px;
        width: 70%;
        border-radius: 20px;
        box-shadow: 0px 1px 6px 0px #b7b3b3;

        & .btn-delete__revenue {
          font-size: 2.4rem;
          position: absolute;
          top: 25px;
          right: 30px;
          cursor: pointer;
          color: $color-primary;
          font-weight: 700;
        }

        & h3 {
          font-size: 1.4rem;
          color: $color-black;

          & .Ingreso {
            color: $color-secundary;
          }

          & .Gasto {
            color: $color-primary;
          }
        }
      }
    }
  }

  & .nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 1px 6px 0px #b7b3b3;

    & .icon-home {
      font-size: 3rem;
      color: $color-primary;
      margin-right: 30px;
      cursor: pointer;
    }
    & .icon-chart {
      font-size: 3rem;
      color: $color-primary;
      margin-left: calc(#{$margin-medium} + 10px);
      cursor: pointer;
    }

    & button {
      border: none;
      background-color: $color-primary;
      color: $color-light;
      font-weight: 700;
      font-size: 5rem;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: fixed;
      bottom: 5px;
      cursor: pointer;
    }
  }

  & .container-statistic {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(215, 215, 215, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-600px);
    visibility: hidden;

    & .modal__statistic {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background-color: $color-light;
      border-radius: 20px;

      & #chart {
        width: 280px !important;
        height: 280px !important;
      }

      & .btn-close__modal-statistic {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        border-radius: 50%;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 700;
      }

      & h2 {
        @extend %title-login;
        color: $color-primary;
        margin-top: calc(#{$margin-high} + 10px);
      }

      & select {
        border: none;
        background-color: transparent;
        margin: $margin-medium;
        color: $color-secundary;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }

  & .container-statistic.container-statistic--active {
    transform: translateY(0);
    visibility: visible;
  }
}

.container-modal__revenue.revenue-active {
  transform: translateY(0);
  visibility: visible;
}
.container-modal__revenue {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(215, 215, 215, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-600px);
  visibility: hidden;

  & .modal-revenue {
    width: 85%;
    height: 95%;
    background-color: $color-light;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .btn__close-mdal--revenue {
      position: absolute;
      right: 20px;
      top: 10px;
      border: none;
      border-radius: 50%;
      background-color: $color-primary;
      width: 30px;
      height: 30px;
      font-weight: 700;
      font-size: 2rem;
      color: $color-black;
    }
    & h2 {
      margin-top: calc(#{$margin-high} + 5px);
      margin-bottom: $margin-medium;
      font-size: 2.4rem;
      font-weight: 700;
      color: $color-secundary;
    }

    & form {
      @extend %form-login;

      & label {
        @extend %sub-title__form;
        font-size: 1.8rem;
        margin-top: $margin-low;
      }

      & input,
      select {
        @extend %inputs;
        margin-top: $margin-low;
        font-size: 1.8rem;
        opacity: 0.8;
      }

      & button {
        @extend %btn-login;
        margin-top: calc(#{$margin-high} - 15px);
      }
    }
  }
}
